*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}


.container0{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.container1{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	width: 100%;
	height: 44px;
	background: #3B5998;
}

.container2{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 24px;
	flex-wrap: nowrap;
}

.imagen1{
    width: 123px;
    height: 24px;
    background: url(portada.png);
    background-position: 0 0;  
}

.container3{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	width: 98.54%;
	height: 428.42px;

	border: solid 1px #D7DADE;
    border-radius: 16px;

    margin-top: 4px;
}


.subcontainer1{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;

	margin-top: 10px;
	padding-left: 22px;
}

.imagen2{
	width: 40px;
    height: 40px;
    border-radius: 50%;

    margin-right: 8px;
}

.subcontainer2{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.texto1{
	font-weight: bold;
	font-size: 14px;
    line-height: 17px;
    color: #1D2129;
}

.texto2{
	font-size: 12px;
    line-height: 16px;
    color: #90949C;
}

.texto3{
	font-size: 14px;
    line-height: 18px;

    margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.imagen3{
	width: 100%;
	height: 274.05px;
	margin-top: 7px;
	cursor: pointer;
}

.enlace,{
	width: 100%;
}

.container4{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	width: 95%;
	border-top:1px solid #d6d8db;
	margin-top: 21px;
	padding-top: 8px;
}

.imagen4{
	background: url(gestos.png);
	width: 20px;
	height: 20px;
	background-position: 0 -512px;
}

.texto4{
    text-decoration: none;
    line-height: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #616770;
    margin-left: 6px;
    margin-top: 2px;
}

@media (max-width: 393px){
	.container3{
		width: 98.98%;
	}

	.imagen3{
		height: 261.22px;
	}

	.container4{
		padding-top: 17px;
	}
}

@media (max-width: 390px){
	.container3{
		width: 98.46%;
	}

	.imagen3{
		height: 259.19px;
	}
}

@media (max-width: 375px){
	.container3{
		width: 98.4%;
		height: 421.81px;
	}

	.imagen3{
		height: 249.06px;
	}

	.container4{
		padding-top: 18px;
	}
}

@media (max-width: 360px){
	.container3{
		width: 98.89%;
		height: 411.69px;
	}

	.imagen3{
		height: 238.94px;
	}
}

.espacio-final{
	width: 100%;
	height: 8px;
}